# Ignore bin, include, lib, lib64, share
src/bin
src/include/
src/lib/
src/lib64/
src/share/
__pycache___

# Ignore all png files
*.png
# Ignore all gml files
*.gml
# Ignore gurobi license files
gurobi.lic
# Ignore logs
*.log

solution.txt